*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}
.main {
    display: flex;
}

.details {
    position: absolute;
        left: 60%;
        top: 30%;
        font-size: 12px;
        line-height: 40px;
        
}

input {
    padding: 5px;
    
}
.details input{
    width: 300px;
    height: 25px;
    border-radius: 10px;
    border: 2px solid hsl(279, 6%, 55%);
}
.exp-date{
    display: flex;
}

.mon input{
    width: 150px;
    height: 29px;
    border-radius: 10px;
    border: 2px solid hsl(279, 6%, 55%);
}
.cvvv{
    margin-left: 20px;
    height: 25px;
}
.cvvv input {
    height: 25px;
    width: 120px;
    border-radius: 10px;
    border: 2px solid hsl(279, 6%, 55%);
    
}

.img{
    height: 100vh;
}
.fimg{
    position: absolute;
    z-index: 1;
    margin-top: 200px;
    margin-left: 250px;
    
}

.bimg {
    position: absolute;
    z-index: 2;
    margin-top: 480px;
    margin-left: 350px;
}
button{
    margin-top: 30px;
    padding: 8px 117px;
    margin-left: 15px;
    color: aliceblue;
    background-color: hsl(278, 68%, 11%);
    border-radius: 10px;
    border: 3px solid hsl(278, 68%, 11%);
}