:root {
  --light-color: brown;
  --dark-color: #410914;
  --text-color: white;
  --link-color: rgb(194, 123, 123);
}

* {
  font-family: "Cabin", "-apple-system", "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    Helvetica, "Neue", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 43px;
  box-sizing: border-box;
}

body {
  background-image: url("https://cloud-fww00tdhd-hack-club-bot.vercel.app/0compute-ea4c57a4.png");

  background-position: center;
  background-size: contain;
  color: white;
}

/* commonly used media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

.subhead {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  /* margin: auto; */
  /* font-size: 2em; */
}

.subhead h2 {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  /* margin: auto; */
  /* font-size: 2em; */
}

/* HEADER SECTION */

header {
  position: sticky;
  top: 3px;
  z-index: 1;
}

.navbar {
  background-color: #100f0f;
  border-radius: 34px;
  height: 70px;
  width: 100%;
}

.navbar ul {
  overflow: auto;
}

.navbar h1 {
  position: absolute;
  left: 60px;
  margin: 12px;
  /* padding: 5px 12px 80px 16px; */
  float: left;
  font-size: 2rem;
  /* border-radius: 10px; */
  /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
  /* box-shadow: inset 0px 1px 24px 5px #410914; */
  /* box-shadow: 0px 1px 24px 5px #322528; */
}

.navbar li {
  animation-name: slider;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: alternate;
  animation-timing-function: ease-in-out;
  float: right;
  list-style: none;
  margin: 13px 20px;
}

@keyframes slider {
  from {
    transform: translateY(-40%);
  }

  to {
    transform: translateY(0%);
  }
}

.search {
  margin: 0px 19px;
  float: right;
  color: white;
  margin: 10px;
}

#logo {
  width: 64px;
  height: 64px;
}

.navbar input {
  border: 1px solid rgb(62, 58, 58);
  border-radius: 14px;
  padding: -1px 9px;
  width: 163px;
}

header nav li {
  list-style: none;
}

header nav li a {
  color: var(--link-color);
  text-decoration: none;
}

header nav li a:hover {
  color: var(--light-color);
  transition: color 0.3s ease;
}

header nav li a:active {
  color: #410914;
}

section #image_to_hide {
  visibility: hidden;
}

/* ABOUT SECTION */

section .about {
  padding: 1px 60px 0px 60px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.contentbox h3 {
  font-size: 20px;
}

.w50 {
  margin-bottom: 20px;
}

.w75 {
  width: 700px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.imgIM {
  float: right;
  border-radius: 50%;
  width: 450px;
  /* width of image (px or % or auto) */
  height: auto;
}

.about {
  background-color: #000000;
  z-index: -1;
  width: 97vw;
  border-radius: 3px;
}

.about .about-data {
  text-align: center;
  position: relative;
  color: var(--text-color);
}

/* Projects section */
.project h3 {
  text-shadow: 6px -3px 2px rgb(72 32 32);
}

/* WORK/Contribution SECTION */

.work h3 {
  text-shadow: 6px -3px 2px rgb(72 32 32);
}

.work table {
  border: 4px solid rgb(190, 89, 89);
  /* border-style: solid; */
  border-radius: 34px;
  padding: 34px;
  margin: 34px;
  /* margin: auto; */
}

.work td {
  background-color: #100f0f;
  opacity: 0.9;
}

/* CONTACTS SECTION FLEXBOX SECTION */

.flexbox {
  display: flex;
  height: 200px;
  width: 100%;
  background-color: #6d1022;
  border: 2px black solid;
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.flexbox .item a {
  text-decoration: none;
  color: var(--text-color);
}

.flexbox .item a:hover {
  text-decoration: underline;
}

.item {
  width: 109px;
  border: 2px solid black;
  border-radius: 9px;
  background-color: #410914;
  padding: 6px;
  /* ANIMATION  */
  /* cumpolsary for animation is relatiev position? */
  position: relative;
  animation-name: slidein;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: alternate;
  animation-timing-function: ease-in-out;

  /* TRANSITION */
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
}

.item:hover {
  background-color: #d72044;
  cursor: pointer;
  background-color: pink;
  transform: skew(40deg);
  transform: scale(1.1);
}

/* now for the animation name mentioned above giving the actions */
@keyframes slidein {
  from {
    transform: translateY(-70%);
  }

  to {
    transform: translateY(0%);
  }
}

/* footer */

footer .floating-footer {
  font-size: small;
  border: 1px solid #9f8e92;
  border-top-left-radius: 34px;
  background-color: #6d1022;
  padding-left: 10px;
  position: fixed;
  bottom: -10px;
  right: 0px;
  opacity: 20%;
}

footer {
  position: relative;
  width: 100%;
  /* background-color: #111827; */
  color: white;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 16px 9px;
  padding: 15px 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer a {
  color: var(--light-color);
  font-size: 22px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin: 0;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.2rem 0;
  gap: 0.3rem;
}

.icons ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.icons ul li {
  list-style: none;
}

.icons ul li a {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
  margin: 0 0 0 20px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  border: 3px solid #fff;
}

.icons ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.icons ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.icons ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #55acee;
  transition: 0.5s;
  z-index: 2;
}

.icons ul li a:hover:before {
  top: 0;
}

.icons ul li:nth-child(2) a:before {
  background: black;
}

.icons ul li:nth-child(4) a:before {
  background: rgb(197, 24, 111);
}