body{
    background-color: rgb(0, 0, 0);
    display:flex ;
    justify-content: center;
    
    

}

#infooo{
background-color: rgb(255,255,255);
    width: 300px;
    height:300px;
    bottom: -5%;
    border-radius:0px 0px 20px 20px;
    
    position: relative;
}

#card{
    
    width: 300px;
    height: 500px;
    margin-top: 10%;
    
    border-radius: 20px;
    background-image: linear-gradient( to right, rgb(150,65,92) , rgb(212,113,130));
    
}
#pfp img{

margin-top: 5px;
width: 100px;
height: 100px;
border-radius: 50% ;
display: block;
margin-left: auto;
margin-right: auto;
border: 5px solid black;


}

#name{
 
    font-size: small;
    text-align: center;
    text-decoration: wavy;
    font-style: italic;
    color: white;
    text-shadow: 5px 5px 5px #000000;
}
#infooo img{
    margin-top: 10px;
    padding: 2px 16px ;
    
    height: 30px;
    width: 30px;
}
#infooo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    
}

#infooo p{
    margin-bottom: 20px;
    padding: 2px 16px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

