<!DOCTYPE html>
<%- include('./partials/head')  %> 
<body>
    <%- include('./partials/nav')%>

    <div class="about content">
        <h3>
            Gringotts Wizarding Bank was the only wizarding bank in Great Britain, and was owned and operated by goblins. It was founded by a goblin named Gringott in 1474. Its main offices were located around the North Side of Diagon Alley in London, England.
            <br> <br>
            In addition to storing money and valuables for wizards and witches, one could go there to exchange Muggle money for wizarding money, which appeared to not be very difficult, as shown when Hermione Granger's parents did so while paying for her school supplies.
            <br> <br>
            The currency exchanged by Muggles was later returned to circulation in the Muggle world by goblins. According to Rubeus Hagrid, other than Hogwarts School of Witchcraft and Wizardry, Gringotts was the safest place in the wizarding world.
            <br> <br>
            The motto of Gringotts Wizarding Bank was Fortius Quo Fidelius, a Latin phrase that meant "Strength through loyalty".
            <br> <br>
            The bank also had its own bureau de change, issued cheques and bank notes, had a specific form for client bank transactions, and its own mail system.
            <br> 
        </h3>
    </div>

    <%- include('./partials/footer') %> 
</body>
</html>