<!DOCTYPE html>
<%- include('./partials/head')  %> 
<body>
    <%- include('./partials/nav')%>

    <div class="content index">
        <h2>"Gringotts, the wizard bank. Ain't no safer place, not one. Except perhaps Hogwarts."
            <br>
            - Rubeus Hagrid's opinion of Gringotts
        </h2>
        <br>
        <button><a href="/customers">Customers Page</a></button>
    </div>

    <%- include('./partials/footer') %>
</body>
</html>