<div class="site-title">
    <a href="/"><h1>Gringotts Wizarding Bank</h1></a>
</div>
<div>
    <nav>
        <h3 id="page-title"><%= name %></h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/history">History</a></li>
        </ul>
    </nav>
</div>